<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <th>id</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Отчество</th>
    <th>Дата рождения</th>
    <th>Группа</th>
    </thead>
<tr th:each="student : ${students}">
    <td th:text="${student.id}"></td>
    <td th:text="${student.firstname}"></td>
    <td th:text="${student.surname}"></td>
    <td th:text="${student.patronymic}"></td>
    <td th:text="${student.birthdate}"></td>
    <td th:text="${student.studentGroup}"></td>
</tr>
    </table>
    <a href="/createStudent">Добавить студента</a></h3>
    </br>
    <a href="/deleteStudent">Удалить студента</a>
</body>
</html>